*{
  box-sizing: border-box;
}

body{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box img{
  width: auto;
  height: 400px;
  object-fit: contain;
  margin-right: 50px;
  box-shadow: 0px 0px 15px 10px black;
}

.txt{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: black 0px 0px 10px;
  list-style-type: none;
}

.more{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: black 0px 0px 10px;
  display: flex;
  font-size: 50px;
  justify-content: center;
}